:root {
    --main-color: #ef9b28;
    --main-color-darker-1: #d7952f;
    --text-color-white: #fff;
}

@font-face {
    font-family: "Inter";
    src: url("../../../assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf");
}

.section-title {
    color: var(--main-color);
    font-family: "Inter";
    line-height: 46px;
    letter-spacing: -0.4px;
}
.section-title::first-letter {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--main-color);
}
.section-title::after {
    content: none;
    display: none;
}

form .form-label {
    color: var(--main-color);
}

form input {
    caret-color: var(--main-color);
}

.custom-btn {
    background-color: var(--main-color);
    color: var(--text-color-white);
    border: none;
    border-radius: 3.125rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.custom-btn:hover,
.custom-btn:active,
.custom-btn:focus {
    background-color: var(--main-color-darker-1);
    color: white;
}

.custom-btn:disabled {
    background-color: #ccc !important;
    color: var(--main-color) !important;
}
