body {
  font-family: "Inter", sans-serif;
  
}

.auth-container {
  background-image: url(/public/loginBg.svg);
  background-position: center center;
  background-size: cover;
}

.auth-area {
  /* border-radius: 16px; */
  background: rgba(49, 89, 81, 0.9);
}
